<style>
  .j-upsell-item{
    position:relative;
  }
  .j-upsell-item .j-upsell-media{
    display:flex;
  }
</style>
{% assign section_id = section.id %}
<div class="j-upsell-items">
{% for product in collection.products %}
  {% if settings.break_upsell contains product.id %}
    {% continue %}
  {% endif %}
  {% assign product_form_id = 'upsell-form' | append: product.id %}
  <div class="j-upsell-item" data-id="{{ product.id }}">
    <div class="j-upsell-media">
      {%- for media in product.media limit:2 -%}
        <a href="{{ product.url }}" class="j-upsell-media-item">
          <div class="product__media media" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;">
            <img
              srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                      {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w{% endif %}"
              src="{{ media | img_url: '288x288' }}"
              sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
              width="288"
              height="{{ 288 | divided_by: media.preview_image.aspect_ratio | ceil }}"
              alt="{{ media.preview_image.alt | escape }}"
            >
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="j-upsell-info">
      <div class="j-upsell-pd-title">
        <a href="{{ product.url }}">{{ product.title }}</a>
      </div>
      <div class="j-upsell-pd-price" id="price-{{ section_id }}">
        {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--small' -%}
      </div>
      <div class="j-upsell-variant-wraper">
        <upsell-variant-selects
          id="variant-selects-{{ section_id }}"
          class="no-js-hidden"
          data-section="form{{ product.id }}"
          data-url="{{ product.url }}"
          data-update-url="false"
          data-tsection="{{ section_id }}"
          
          {{ block.shopify_attributes }}
        >
          {%- for option in product.options_with_values -%}
            <div class="product-form__input product-form__input--dropdown">
              <label class="form__label" for="Option-{{ section_id }}-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <div class="select">
                <select
                  id="Option-{{ section_id }}-{{ forloop.index0 }}"
                  class="select__select"
                  name="options[{{ option.name | escape }}]"
                  form="{{ product_form_id }}"
                >
                  {% render 'product-variant-options', product: product, option: option, dropdown: true %}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          {%- endfor -%}
          <div id="preorderbunner" style="display:none"></div>
          <script type="application/json">
            {{ product.variants | json }}
          </script>
          <script id="product-variants-metafields" type="application/json">                  
            [
              {%- for variant in product.variants -%}
                    {
                      "{{variant.id}}" : 
                      {%- if variant.metafields.order.size > 0 -%}
                        {%- for item in variant.metafields.order -%}
                            {%- if forloop.first -%}
                              {
                              "available" : "{{variant.available}}","inventory_quantity" : "{{variant.inventory_quantity}}","pre_order_inventory_quantity": "{{ variant.inventory_quantity | plus: variant.metafields.global.pre_order_inventory }}",                              
                            {%- endif -%}
                                    "{{item[0]}}" : "{{ item[1] }}"{%- unless forloop.last -%},{%- endunless -%}
                            {%- if forloop.last -%}                                         
                                }
                            {%- endif -%}
                        {%- endfor -%}
                      {%- else -%}
                          ""
                      {%- endif -%}
                    }{%- unless forloop.last -%},{%- endunless -%}
              {%- endfor -%}
            ]
            </script>
        </upsell-variant-selects>
        <product-form class="product-form">
          {%- form 'product',
            product,
            id: product_form_id,
            class: 'form',
            novalidate: 'novalidate',
            data-type: 'add-to-cart-form'
          -%}           
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}"/>
            <input type="hidden" name="cart_upsell" value="true"/>  
            <div id="bc-order-id" style="display:none"></div>
            <button type="submit" name="add" class="upd-add-btn"><span class="txt">Add to Cart</span></button>
          {%- endform -%}
        </product-form>        
      </div>      
    </div>
  </div>
{% endfor %}
{% if collection == blank %}
  {% assign product_form_id = 'upsell-form' | append: product.id %}
  <div class="j-upsell-item" data-id="{{ product.id }}">
    <div class="j-upsell-media">
      {%- for media in product.media limit:2 -%}
        <a href="{{ product.url }}" class="j-upsell-media-item">
          <div class="product__media media" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;">
            <img
              srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                      {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w{% endif %}"
              src="{{ media | img_url: '288x288' }}"
              sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
              width="288"
              height="{{ 288 | divided_by: media.preview_image.aspect_ratio | ceil }}"
              alt="{{ media.preview_image.alt | escape }}"
            >
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="j-upsell-info">
      <div class="j-upsell-pd-title">
        <a href="{{ product.url }}">{{ product.title }}</a>
      </div>
      <div class="j-upsell-pd-price" id="price-{{ section_id }}">
        {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--small' -%}
      </div>
      <div class="j-upsell-variant-wraper">
        <upsell-variant-selects
          id="variant-selects-{{ section_id }}"
          class="no-js-hidden"
          data-section="form{{ product.id }}"
          data-url="{{ product.url }}"
          data-update-url="false"
          data-tsection="{{ section_id }}"
          
          {{ block.shopify_attributes }}
        >
          {%- for option in product.options_with_values -%}
            <div class="product-form__input product-form__input--dropdown">
              <label class="form__label" for="Option-{{ section_id }}-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <div class="select">
                <select
                  id="Option-{{ section_id }}-{{ forloop.index0 }}"
                  class="select__select"
                  name="options[{{ option.name | escape }}]"
                  form="{{ product_form_id }}"
                >
                  {% render 'product-variant-options', product: product, option: option, dropdown: true %}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          {%- endfor -%}
          <div id="preorderbunner" style="display:none"></div>
          <script type="application/json">
            {{ product.variants | json }}
          </script>
          <script id="product-variants-metafields" type="application/json">                  
            [
              {%- for variant in product.variants -%}
                    {
                      "{{variant.id}}" : 
                      {%- if variant.metafields.order.size > 0 -%}
                        {%- for item in variant.metafields.order -%}
                            {%- if forloop.first -%}
                              {
                              "available" : "{{variant.available}}","inventory_quantity" : "{{variant.inventory_quantity}}","pre_order_inventory_quantity": "{{ variant.inventory_quantity | plus: variant.metafields.global.pre_order_inventory }}",                              
                            {%- endif -%}
                                    "{{item[0]}}" : "{{ item[1] }}"{%- unless forloop.last -%},{%- endunless -%}
                            {%- if forloop.last -%}                                         
                                }
                            {%- endif -%}
                        {%- endfor -%}
                      {%- else -%}
                          ""
                      {%- endif -%}
                    }{%- unless forloop.last -%},{%- endunless -%}
              {%- endfor -%}
            ]
            </script>
        </upsell-variant-selects>
        <product-form class="product-form">
          {%- form 'product',
            product,
            id: product_form_id,
            class: 'form',
            novalidate: 'novalidate',
            data-type: 'add-to-cart-form'
          -%}           
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}"/>
            <input type="hidden" name="cart_upsell" value="true"/>  
            <div id="bc-order-id" style="display:none"></div>
            <button type="submit" name="add" class="upd-add-btn"><span class="txt">Add to Cart</span></button>
          {%- endform -%}
        </product-form>        
      </div>      
    </div>
  </div>
{% endif %}
</div>
{% schema %}
  {
    "name": "Cart Upsells",
    "settings": []
  }
{% endschema %}

