 
            <product-form class="product-form">
              {%- form 'product', product, id: product_form_id, class: 'form product-form__flex', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {%- if product.metafields.gift.product_id != blank -%}
                <input type="hidden" name="gift_id" value="{{ product.metafields.gift.product_id }}">
                {%- endif -%}
                <div id="bc-order-id"></div>
              	<div class="product-form__buttons">
                  <button
                    type="submit"
                    name="add"
                    class="product-form__submit button button--full-width main-pd-add-btn py-btn-{{block.settings.add_btn_size}} {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}{%comment%}button--secondary{%endcomment%} button--primar{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    > 
<!--                     <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 8H12.5V5H15.5V3H12.5V0H10.5V3H7.5V5H10.5V8ZM6.5 17C5.96957 17 5.46086 17.2107 5.08579 17.5858C4.71071 17.9609 4.5 18.4696 4.5 19C4.5 19.5304 4.71071 20.0391 5.08579 20.4142C5.46086 20.7893 5.96957 21 6.5 21C7.03043 21 7.53914 20.7893 7.91421 20.4142C8.28929 20.0391 8.5 19.5304 8.5 19C8.5 18.4696 8.28929 17.9609 7.91421 17.5858C7.53914 17.2107 7.03043 17 6.5 17ZM16.5 17C15.9696 17 15.4609 17.2107 15.0858 17.5858C14.7107 17.9609 14.5 18.4696 14.5 19C14.5 19.5304 14.7107 20.0391 15.0858 20.4142C15.4609 20.7893 15.9696 21 16.5 21C17.0304 21 17.5391 20.7893 17.9142 20.4142C18.2893 20.0391 18.5 19.5304 18.5 19C18.5 18.4696 18.2893 17.9609 17.9142 17.5858C17.5391 17.2107 17.0304 17 16.5 17ZM6.67 13.75L6.7 13.63L7.6 12H15.05C15.8 12 16.46 11.59 16.8 10.97L20.66 3.96L18.92 3H18.91L17.81 5L15.05 10H8.03L7.9 9.73L5.66 5L4.71 3L3.77 1H0.5V3H2.5L6.1 10.59L4.75 13.04C4.59 13.32 4.5 13.65 4.5 14C4.5 14.5304 4.71071 15.0391 5.08579 15.4142C5.46086 15.7893 5.96957 16 6.5 16H18.5V14H6.92C6.79 14 6.67 13.89 6.67 13.75Z"/>
                    </svg> -->
                    <span class="product-form__submit-label">
                      {%- if product.selected_or_first_available_variant.available -%}
                        {%- if block.settings.btn != blank -%}
                          {{ block.settings.btn }}
                        {%- else -%}
                          {{ 'products.product.add_to_cart' | t }}
                        {%- endif -%}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                    </span>
                   
                  </button>
                  {%- if block.settings.show_dynamic_checkout -%}
                    {{ form | payment_button }}
                  {%- endif -%}
                </div>
              {%- endform -%}
            </product-form>
            {% if block.settings.show_extra_info %}
            <klarna-placement
                  data-key="credit-promotion-badge"
                  data-locale="en-US"
                  data-purchase-amount="{{ product.price }}">
              </klarna-placement>
             <div class="product-icon-custom-wraper f-h">
				<div class="icon">
					{% render 'svg-icons', icon: 'free-shipping' %}
					<p class="t-b-2">Free Shipping on Orders of $80+</p>
				</div>

				<div class="icon">
					{% render 'svg-icons', icon: 'return' %}
					<p class="t-b-2">Easy Returns</p>
				</div>

				<div class="icon">
					{% render 'svg-icons', icon: 'calendar' %}
					<p class="t-b-2">Machine Washable</p>
				</div>
			</div>
            {% endif %}
            {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}
            <style>
              button.product-form__submit,.klaviyo-bis-trigger{
                border-radius:{{block.settings.btn_border_radius}}px;
                border:{{block.settings.btn_border_width}}px solid {{block.settings.btn_color_br}};
                background-color:{{block.settings.btn_bg_color}};
                color:{{block.settings.btn_color}};
                font-size:{{block.settings.btn_font_size}}px;
              }
              button.product-form__submit svg{
                margin-right: 15px;
                fill:{{block.settings.btn_color}};
              }
              button.product-form__submit:hover,.klaviyo-bis-trigger:hover{
                color: {{block.settings.btn_hover_color}};
                border-color: {{block.settings.btn_hover_color}};
                background-color:{{block.settings.btn_hover_bg_color}};
              }
              button.product-form__submit:hover svg{
                fill: {{block.settings.btn_hover_color}};
              }
              .pickup-card-wrapper{
                border-radius:{{block.settings.pick_up_card_radius}}px;
                border:{{block.settings.pick_up_border_width}}px solid {{block.settings.pick_up_color_br}};
                background-color:{{block.settings.pick_up_bg_color}};
              }
              .pickup-location-item{
                background-color: {{block.settings.pick_up_location_bg_color}};
                border-radius:{{block.settings.pick_up_location_radius}}px;
                padding: var(--py-pd-x-s) var(--py-pd-y-m);
                margin-bottom: var(--py-mg-x-s);
              }
              .pickup-location-item *{
                color:{{block.settings.pick_up_location_color}}
              }
              .pickup-card-title{
                font-size:{{block.settings.pick_up_title_font_size}}px;
                color:{{block.settings.pick_up_color}};
              }
              .pickup-card-description{
                font-size:{{block.settings.pick_up_desc_font_size}}px;
                color:{{block.settings.pick_up_color}};
              }
              pickup-availability-drawer{
                background: {{block.settings.pick_up_bg_color}};                
              }
              pickup-availability-drawer *{
                color:{{block.settings.pick_up_color}};
              }
              #preorderbunner .bc-order-wrapper{
                border-radius:{{block.settings.pre_order_card_radius}}px;
                border:{{block.settings.pre_order_border_width}}px solid {{block.settings.pre_order_color_br}};
                /*background-color:{{block.settings.pre_order_bg_color}};*/
                background-color:#e7e7e7;
              }
              #preorderbunner .bc-order-wrapper .title{
                color:{{block.settings.pre_order_color}};
                font-size:{{block.settings.pre_order_title_font_size}}px;
              }
              #preorderbunner .bc-order-wrapper .message,.bc-order-wrapper .product-popup-modal__button{
                color:{{block.settings.pre_order_color}};
                font-size:font-size:{{block.settings.pre_order_desc_font_size}}px;
              }
              #PopupModal-preorder .product-popup-modal__content{
                background-color:{{block.settings.pre_order_bg_color}};
              }
              #PopupModal-preorder .product-popup-modal__content *{
                color:{{block.settings.pre_order_color}};
              }
              #preorderbunner .bc-order-wrapper.sold-out-card{
                border-radius:{{block.settings.sold_out_card_radius}}px;
                border:{{block.settings.sold_out_border_width}}px solid {{block.settings.sold_out_color_br}};
                background-color:{{block.settings.sold_out_bg_color}};
              }
              #preorderbunner .bc-order-wrapper.sold-out-card .title{
                color:{{block.settings.sold_out_color_info}};
                font-size:{{block.settings.sold_out_title_font_size}}px;
              }
              #preorderbunner .bc-order-wrapper.sold-out-card .message,.bc-order-wrapper.sold-out-card .product-popup-modal__button{
                color:{{block.settings.sold_out_color_info}};
                font-size:font-size:{{block.settings.sold_out_desc_font_size}}px;
              }
              #PopupModal-preorder .product-popup-modal__content{
                background-color:{{block.settings.sold_out_bg_color}};
              }
              #PopupModal-preorder .product-popup-modal__content *{
                color:{{block.settings.sold_out_color_info}};
              }
            </style> 
            {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
            <div class="pickup-card-wrapper py-pd-y-m py-pd-x-m {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}">
              <div class="pickup-card-title">Pickup Available</div>
              <div class="pickup-card-description">{{block.settings.pick_up_txt}}</div>
              <pickup-availability class="product__pickup-availabilities no-js-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                data-base-url="{{ shop.url }}{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
              >
                <template>
                  <pickup-availability-preview class="pickup-availability-preview">                  
                    <div class="pickup-availability-info">
                      <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                      <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                    </div>
                  </pickup-availability-preview>
                </template>
               </pickup-availability>
             </div>

            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
            {% if block.settings.fixed_add %}
            <style>
            .fixed-add-wraper{
              border-radius:{{block.settings.fixed_add_radius}}px;              
              background-color:{{block.settings.fixed_add_bg_color}};
              display:none;
            }
            .fixed-add-wraper.active{
              display:block;
            }
            .fixed-add-wraper *{
              color:{{block.settings.fixed_add_color_info}} !important;
            }
            .fixed-add-wraper button.product-form__submit{
              border-radius:{{block.settings.fixed_add_btn_radius}}px;
              background-color:{{block.settings.fixed_add_btn_bg_color}};
              color:{{block.settings.fixed_add_btn_color}};
              border-color:{{block.settings.fixed_add_btn_color}};
            }
            .fixed-add-wraper button.product-form__submit svg {                
                fill: {{block.settings.fixed_add_btn_color}};
            }
            .fixed-add-wraper button.product-form__submit:hover{
              background-color:{{block.settings.fixed_add_btn_hv_bg_color}};
              color:{{block.settings.fixed_add_btn_hv_color}};
              border-color:{{block.settings.fixed_add_btn_hv_color}};
            }
            .fixed-add-wraper button.product-form__submit:hover svg{
              fill: {{block.settings.fixed_add_btn_hv_color}};
            }
            </style>
            <div class="fixed-add-wraper fixed-add-{{block.settings.fixed_style}}">
              <div class="fixed-add-container">
                <div class="product-form__input product-form__quantity">
                  <label class="form__label" for="Quantity-fixed_add">
                    {{ 'products.product.quantity.label' | t }}
                  </label>
                  <quantity-input class="quantity">
                    <button class="quantity__button no-js-hidden" name="minus" type="button">
                      <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                      {% render 'icon-minus' %}
                    </button>
                    <input class="quantity__input"
                        type="number"
                        name="quantity"
                        id="Quantity-fixed_add"
                        min="1"
                        value="1"
                        form="product-form-{{ section.id }}"
                      >
                    <button class="quantity__button no-js-hidden" name="plus" type="button">
                      <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                      {% render 'icon-plus' %}
                    </button>
                  </quantity-input>
                </div>
                <div class="variant_select_container">
                {%- unless product.has_only_default_variant -%}
                    {%- for option in product.options_with_values -%}
                        {%- liquid
                          assign optionName = option.name | downcase
                          assign color = false
                          if optionName contains 'color' or optionName contains 'colour'
                        assign color = true
                          endif -%}
                        <div class="select_wraper">
                        <label class="form__label">{{ option.name }}: </label>  
                        <select class="js product-form__input" product-option = "{{optionName}}">                          
                          {%- for value in option.values -%}
                            <option 
                                  data_name="{{ option.name }}"
                                  value="{{ value | escape }}"                                  
                                  {% if option.selected_value == value %}selected{% endif %}
                            >{{ value }}</option>
                          {%- endfor -%}
                        </select>
                        </div>
                    {%- endfor -%}                            
                {%- endunless -%}
                </div>
                <div class="product-form__buttons">
                  <button type="submit" name="add" class="product-form__submit button button--full-width button--primary py-btn-{{block.settings.add_btn_size}}"> 
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 8H12.5V5H15.5V3H12.5V0H10.5V3H7.5V5H10.5V8ZM6.5 17C5.96957 17 5.46086 17.2107 5.08579 17.5858C4.71071 17.9609 4.5 18.4696 4.5 19C4.5 19.5304 4.71071 20.0391 5.08579 20.4142C5.46086 20.7893 5.96957 21 6.5 21C7.03043 21 7.53914 20.7893 7.91421 20.4142C8.28929 20.0391 8.5 19.5304 8.5 19C8.5 18.4696 8.28929 17.9609 7.91421 17.5858C7.53914 17.2107 7.03043 17 6.5 17ZM16.5 17C15.9696 17 15.4609 17.2107 15.0858 17.5858C14.7107 17.9609 14.5 18.4696 14.5 19C14.5 19.5304 14.7107 20.0391 15.0858 20.4142C15.4609 20.7893 15.9696 21 16.5 21C17.0304 21 17.5391 20.7893 17.9142 20.4142C18.2893 20.0391 18.5 19.5304 18.5 19C18.5 18.4696 18.2893 17.9609 17.9142 17.5858C17.5391 17.2107 17.0304 17 16.5 17ZM6.67 13.75L6.7 13.63L7.6 12H15.05C15.8 12 16.46 11.59 16.8 10.97L20.66 3.96L18.92 3H18.91L17.81 5L15.05 10H8.03L7.9 9.73L5.66 5L4.71 3L3.77 1H0.5V3H2.5L6.1 10.59L4.75 13.04C4.59 13.32 4.5 13.65 4.5 14C4.5 14.5304 4.71071 15.0391 5.08579 15.4142C5.46086 15.7893 5.96957 16 6.5 16H18.5V14H6.92C6.79 14 6.67 13.89 6.67 13.75Z"></path>
                    </svg>
                    <span class="product-form__submit-label">Add to cart</span>
                  </button>
                </div>
              </div>
            </div>
            <script>
            document.querySelectorAll('.fixed-add-wraper select').forEach((select => select.addEventListener('change',function(){
               var option = select.getAttribute('product-option');
               var val = select.value;
               document.querySelector("fieldset[product-option='"+option+"'] input[value='"+val+"']").click()
               setTimeout(function(){
                 var btn_txt = document.querySelector('.product__info-wrapper .product-form form .product-form__buttons .product-form__submit-label').innerText;
                 if(document.querySelector('.product__info-wrapper .product-form form .product-form__buttons .product-form__submit').getAttribute('disabled') == null){
                   document.querySelector('.fixed-add-wraper .product-form__buttons .product-form__submit').removeAttribute('disabled');
                 }else{
                   document.querySelector('.fixed-add-wraper .product-form__buttons .product-form__submit').setAttribute('disabled',true);
                 }
                 document.querySelector('.fixed-add-wraper .product-form__buttons .product-form__submit .product-form__submit-label').innerText = btn_txt;
               },1000);
            })))
            document.querySelector('.fixed-add-wraper .product-form__buttons .product-form__submit').addEventListener('click', function(){
              document.querySelector('.product__info-wrapper .product_info_left_col>.product-form__input .quantity .quantity__input').value = document.querySelector('.fixed-add-wraper .quantity input').value;
              document.querySelector('.product__info-wrapper .product-form form .product-form__buttons .product-form__submit').click();
            })
            const sticky_add = document.querySelector(".fixed-add-wraper");
            const paymentContainerElement = document.querySelector(".main-product-section .product-form .product-form__buttons"); 
            var sticky_active = function() {  
              var y = paymentContainerElement.getBoundingClientRect().top;
              if (y < 90) {
                sticky_add.classList.add('active');
              } else {
                sticky_add.classList.remove('active');
              }
            };
            
            window.addEventListener("scroll", sticky_active); 
            </script>
            {% endif %}         